.row.instance-charts data={ instance_id: instance.id, readings_path: instance_readings_path(instance) }
  div id="cpu-usage-chart-#{instance.id}"
  div id="disk-usage-chart-#{instance.id}"
  div id="scan-chart-#{instance.id}"